<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="description" content="<% if (page.description){ %><%= page.description %><% } else if (!page.description){ %><%= config.description %><% } %>">
  <title><%if (is_home()){ %><%= config.title %><% } else if (!is_home()) { %><%= page.title %> &ndash; <%= config.title %><% } %></title>
  <link rel="dns-prefetch" href="//use.fontawesome.com">
  <link rel="dns-prefetch" href="//cloud.typography.com">
  <%- css('//cloud.typography.com/6564896/7815212/css/fonts.css') %>
  <%- css('css/normalize.min') %>
  <%- css('css/styles') %>
  <script defer src="//use.fontawesome.com/releases/v5.7.2/js/brands.js" integrity="sha384-zJ8/qgGmKwL+kr/xmGA6s1oXK63ah5/1rHuILmZ44sO2Bbq1V3p3eRTkuGcivyhD" crossorigin="anonymous"></script>
  <script defer src="//use.fontawesome.com/releases/v5.7.2/js/fontawesome.js" integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq" crossorigin="anonymous"></script>
</head>
